body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffc7ea;
}

.container {
    text-align: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 0px;
    margin: 20px auto;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #c6fac5;
    border: 1px solid #74f485;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
}

.cell:hover {
    background-color: #e0e0e0;
}

.message {
    margin-top: 20px;
    font-size: 1.5rem;
    color: #333;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
}